{% extends 'base.html' %}

{% block meta %}
<title>Add New Task</title>
{% endblock meta %}

{% block content %}

<div class = "form">

    <h1>Add Task</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Task Name: </td>
                <td><input type="text" name="task_name" placeholder="PBP..." class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Task Description: </td>
                <td><input type="text" name="description" placeholder="Finish Assignment 4..." class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     

</div>

{% endblock content %}