{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class="position-absolute top-50 start-50 translate-middle">
<div class= "card add-task px-5 py-3" style="background-color: #15191D;">
    
    <h1 class="text-primary" >Account Registration</h1>  
    <a href="/todolist/login">Go back to Login Menu</a>
    <br><br>

        <form method="POST">  
            {% csrf_token %}  
            <table class="text-start text-light">  
                {{ form.as_table }}
                <tr><td><br></td></tr>
                <tr>  
                    <td class="text-center" colspan="2">
                        <button class="btn btn-primary submit" name="submit" value="Daftar"/>Register
                    </td>  
                </tr>  
            </table>  
        </form>
</div>  

{% if messages %}
    <br><br>
    <div>
    {% for message in messages %}
        <span class="alert alert-info">{{ message }}</span>
    </div>
    {% endfor %}
{% endif %}

</div>

{% endblock content %}