{% extends 'base.html' %}

{% block content %}

 {% load static %}
 <!-- <link rel="stylesheet" href="{% static 'todolist/style.css' %}"> -->

 <nav class="navbar navbar-dark bg-dark primary-navbar-color">
   <div class="mx-4">
      <a class="navbar-brand">
         <span class="display-6">Welcome back, {{name}}.</span>
      </a>
   </div>
   <div class="mx-4">
      <a class="navbar-item">
         <button type="button" class="btn btn-light"><a class="text-dark" href="{% url 'todolist:logout_user' %}">Logout</a></button>
      </a>
   </div>
 </nav>
 <h5 class="text-primary my-4">Here is your todolist.</h5>

 <table class="table table-bordered">
   <tr>
      <button class="btn btn-dark btn-outline-light"><a class="text-light" href="{% url 'todolist:add_task' %}">Add New Task</a></button>
   </tr>
   <tr>
      <button class="btn btn-dark btn-outline-light"><a class="text-light" href="{% url 'todolist:delete_all' %}">Clear All Tasks</a></button>
   </tr>
 </table>

 <br>
 <div class="mx-5">
      <table class="table table-stripped">
         <tr class="table-dark">

            <th> Creation Date </th>
            <th> Task Name </th>
            <th> Description </th>
            <th> Completion </th>
            <th colspan="2"> Actions</th>

         </tr>
         <tbody class="table-group-divider">
            {% for task in list_tasks %}
            <tr>

               <td>{{task.date}}</td>
               <td>{{task.task_name}}</td>
               <td>{{task.description}}</td>
               {% if task.is_finished == True %}
                  <td><p class="text-primary">{{task.is_finished}}</p></td>
               {% else %}
                  <td><p class="text-secondary">{{task.is_finished}}</p></td>
               {% endif %}

               <div class = "form">
                  <form method="POST" action="finish-task/{{task.id}}">
                     {% csrf_token %}
                     <td><input class="btn btn-success" type="submit" value="DONE!"/></td> 
                  </form>
                  <form method="POST" action="delete-task/{{task.id}}">
                     {% csrf_token %}
                     <td><input class="btn btn-danger" type="submit" value="DELETE"/></td> 
                  </form>
               </div>

            </tr>
            {% endfor %}
         </tbody> 
      </table>
   </div>

   <br> <br>
   {% if messages %}  
      {% for message in messages %}  
         <p class="alert alert-success">{{message}}</p>
      {% endfor %}  
   {% endif %}
   <samp>Last login session: {{ last_login }}</samp>

 {% endblock content %}